.employees {
    display: flex;
    background-color: white;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 6px #ccc;
    flex-basis: 70%;
    margin: 10px 40px;
    flex-direction: column;
    padding: 40px;
}